<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Kurt Lee" />


   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />


</head>
<body>



<div class="site">
  <div class="title">
    <h1><a href="/">Kurt's Blog</a></h1>
<!--    <a class="extra" href="/">Home</a></h2>  -->
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        <a href="/">Kurt Lee</a><br />
        kurt.lee.cn@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>&nbsp;</p>
    </div>
    <div class="rss"></div>
  </div>
</div>


</body>
</html>
